.App {
  text-align: center;

  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0c313b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  background: #111010;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


body{
  background: #f0e3e8;
  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 
}
 


footer{
  background: #111010; 

bottom: 0;
width: 100%;
}

 